{% extends 'base.html'%}


{% block content %}
<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>

    <!--Displaying user bio-->
    {% if user.bio %}
      <p> {{user.bio}}</p>
    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}
  </div>

  <div class="col-md-4">
    {% if user.profile_pic_path %}

    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">

    {%else%}
    <p>No profile picture</p>

    {% endif %}

        {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required>
      <input type="submit">
    </form>
      {% endif %}
  </div>
  </div>
  </div>
  <h3>My Pitches</h3>

  {% for pitch in pitches %}

<div class="card card-cascade wider mt-5">
    <div class="card-body card-body-cascade text-center">

        <!-- Title -->
        <h4 class="card-title"><strong>{{pitch.title}}</strong></h4>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2">{{pitch.pitch_content}}</h6>
        <!-- Text -->

        <!-- Comment button -->
        <a href="/comment/{{pitch.id}}"><button type=" button" class="btn btn-primary">Comment</button></a>
        {% for category in allPitches %}

         <!--Like Button-->
        <span class="foot"> <a href="{{url_for('main.like',id = category.id)}}">
                <button type=" button" class="btn btn-primary">Like</button>
            </a> {{category.like.count()}}</span>

            <!--Dislike Button-->

         <span class="foot"> <a href="{{url_for('main.dislike',id = category.id)}}">
                <button type=" button" class="btn btn-danger">DisLike</button>
            </a> {{category.dislike.count()}}</span>

        {%endfor%}
         {%endfor%}

    </div>
</div>


  

{% endblock %}