{% extends 'base.html'%}

{% block content %}

{% for pitch in pitches %}

<div class="card card-cascade wider mt-5">
    <div class="card-body card-body-cascade text-center">

        <!-- Title -->
        <h4 class="card-title"><strong>{{pitch.title}}</strong></h4>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2">{{pitch.pitch_content}}</h6>
        <!-- Text -->

        <!-- Comment button -->
        <span class="foot"><a href="/comment/{{pitch.id}}"><button type=" button" class="btn btn-success">Comment</button>
        </a>{{allPitches.like.count()}}</span>

         <!--Like Button-->
        <span class="foot"> <a href="{{url_for('main.like',id = allPitches.id)}}">
                <button type=" button" class="btn btn-primary">Like</button>
            </a> {{allPitches.like.count()}}</span>

            <!--Dislike Button-->

         <span class="foot"> <a href="{{url_for('main.dislike',id = allPitches.id)}}">
                <button type=" button" class="btn btn-danger">DisLike</button>
            </a> {{allPitches.dislike.count()}}</span>

    </div>
</div>

{% endfor %}
{% endblock %}